extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/auth.css")

block content
  form.auth-form(action="/new-password" method="POST")
    .field
      p.control.has-icons-left
        input.input(type='password' name='password' placeholder='Password')
    .field
      p.control
        input(type="hidden" name="userId" value=userId)
        input(type="hidden" name="passwordToken" value=passwordToken)
        input(type="hidden" name="_csrf" value=csrfToken)
        button.button.is-success(type='submit')
          | Update Password
    if errorMessage.length > 0
      div.notification.is-danger #{errorMessage}
