extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/auth.css")

block content
  form.auth-form(action="/signup" method="POST")
    .field
      p.control.has-icons-left.has-icons-right
        input.input(type='email' name='email' placeholder='Email')
    .field
      p.control.has-icons-left
        input.input(type='password' name='password'  id='password' placeholder='Password')
    .field
      p.control.has-icons-left
        input.input(type='password' name='confirmPassword' id='confirmPassword' placeholder="Confirm password")
    .field
      p.control
        input(type="hidden" name="_csrf" value=csrfToken)
        button.button.is-success(type='submit')
          | Sign up
