<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title My Shop
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
    script.
      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(el => {
            el.addEventListener("click", () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });

  body
    header
      nav.navbar(role='navigation', aria-label='main navigation')
        .navbar-brand
          a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbar-menu')
            span(aria-hidden='true')
            span(aria-hidden='true')
            span(aria-hidden='true')
        #navbar-menu.navbar-menu
          .navbar-start
            a.navbar-item(href='/') Shop
            a.navbar-item(href='/admin/add-product') Add Product
    main
      h1 My Products
