extends ../layouts/main-layout.pug

block content
  section.section
  form(action='/admin/add-product', method='POST')
    label.label Product Name
    div.field.has-addons
      div.control
        input(type='text', name='title').input
      div.control
        button(type='submit').button.is-primary Add Product
