extends ../layouts/main-layout.pug

block content
  section.cart
    h1 Your Order History
    each order in orders
      div.box
        p.title.is-size-3 Order ID: #{order._id}
        each product in order.items
          p.title.is-size-5 #{product.title}
          p.title.is-size-6 #{product.price}
